.container.direction{
    display: flex;
    flex-direction: row;
}

.container.wrap{
    display: flex;
    flex-wrap: wrap;
}

/* Flex flow é uma união do Direction e o Wrap */

.container.flow{
    display: flex;
    flex-flow: row nowrap;
}

.container div{
    background-color: aqua;
    color: black;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}